
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.navbar > li {
  list-style: none;
  font-size: 1vw;
}

.navbar > li :hover {
  font-size: 1.2vw;
  color: skyblue
}


