.SignUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;

}

.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.signUpSubmitButtonContainer {
  display: flex;
  justify-content:center;
  margin-top: 2vw;
}