
.welcomeMessageContainer{
display: flex;
justify-content: center;
align-items: center;
gap: 1.5vw
}

.welcomeMessageContainer > img{
  width: 5vw;
  height: auto;
  border-radius: 50%;
}

.welcomeMessageText {
  font-size: 2.8rem;
}